{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Django 1 - index page</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <center>
    <h1>Home Page</h1>

    <img src="{% static 'images/django.png'%}">
    
    <h2>{{ curso }}</h2>

    <p>{{ outro }}</P>

    <h3>{{ inforpro}}</h3>
    
    <table border="1">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
    {%for produto in produtos%}
        <tr>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td> 
        </tr>
    {%endfor%}
        </tbody>
    </table>
    <button onclick="teste();"> Click</button>

    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
    </center>
</body>
</html>